{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ 'Edit profile'|trans }}{% endblock %}

{% block breadcrumbs_title %}{{ parent() }}
    <li class="active">{{ 'Edit profile'|trans }}</li>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
