<div class="col-md-3 four-grid">
    <div class="four-wthree">
        <div class="icon">
            <i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i>
        </div>
        <div class="four-text">
            <h3>{{ 'admin.receipts.total'|trans }}</h3>
            <h4>{{ number }}</h4>
        </div>
    </div>
</div>