<div class="col-md-3 four-grid">
    <div class="four-agileinfo">
        <div class="icon">
            <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
        </div>
        <div class="four-text">
            <h3>{{ 'admin.receipts.pending'|trans }}</h3>
            <h4 id="receipts_pending">{{ receipts|length }}</h4>
        </div>
    </div>
</div>