<div class="col-md-3 four-grid">
    <div class="four-agileits">
        <div class="icon">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        </div>
        <div class="four-text">
            <h3>{{ 'admin.user'|trans }}</h3>
            <h4> {{ number }} </h4>
        </div>
    </div>
</div>