<div class="col-md-3 four-grid">
    <div class="four-w3ls">
        <div class="icon">
            <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
        </div>
        <div class="four-text">
            <h3>{{ 'admin.receipts.valid'|trans }}</h3>
            <h4 id="receipts_valid">{{ receipts|length }}</h4>
        </div>
    </div>
</div>