{% extends 'SupermarketBundle::layout.html.twig' %}

{% block title %}{{app.request.get('name')}}{% endblock %}

{% block breadcrumbs_title %}{{ parent() }}
    <li class="active">{{app.request.get('name')}}</li>
{% endblock %}

{% block body %}
    <!--- groceries --->
    {{ include('SupermarketBundle:Default:view_list.html.twig') }}
{% endblock %}