{% extends "@FOSUser/layout.html.twig" %}

{% block breadcrumbs_title %}{{ parent() }}
    <li class="active">{{ 'Create Account'|trans }}</li>
{% endblock %}

{% block fos_user_content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
